.form-container {
  text-align: center !important;
  padding: 120px 0px 85px 35%;
  background-repeat:no-repeat;
  background-position: center;
  min-height:200px;
  border-radius: 5px;
}
.formColumn {
  outline:2px dashed #92b0b3; 
  outline-offset: -10px;
  min-width: 400px;
  background-color: white; 
  border-radius: 5px
}
.btn {
  width: 100%;
  height: 35px;
  font-size: 16pt;
  background-color: #2ea591;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5pt;
  cursor: pointer;
}
.form {
  text-align: center;
  padding-bottom: 20px;
  margin: 0, auto;
}
input[type="file"] {
  display: block;
  margin: auto;
}