.App {
  text-align: center;
  background-image: url("/images/photography/photography.png");
  min-height: 100vh;
}

.logo {
  font-size: 30pt;
  padding: 20px;
  font-family: 'Baloo Chettan', cursive;
}